body {
  background-image: url("http://images6.fanpop.com/image/photos/39900000/-sora-vs-master-xehanort-in-kingdom-hearts-iii-by-9029561-daj4cdr-kingdom-hearts-3-39936700-1000-563.png");
  background-size: cover;
}

.wrapper-one {
  height: 80vh;

}

#character-health {
  color: red
}
.Sora {
  align-content: center;
}

#character-name {
  height: 50 vh;
}